NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "nRst" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "spiMosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spiMiso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spiSs" LOC = P48 | IOSTANDARD = LVTTL;
NET "spiSck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spiChannel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spiChannel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spiChannel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spiChannel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avrTx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avrRx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avrRxBusy" LOC = P39 | IOSTANDARD = LVTTL;
